<!DOCTYPE html>
<html>
<head>
	<title>Calculadora IMC - Desafio Inicial</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
    <style>
        body{
            padding-top: 5%;
        }
        .calc-result{
            height: 50px;
            min-width: 90%;
            background-color: #FFF;
            font-size: 18pt;
            padding: 10px;
        }
    </style>
	<div class="container">
        <div class='row'>
            <div class='col-sm-12 jumbotron'>
                <h1 class='text-center'>Calculadora de IMC</h1>
            </div>
        </div>
        <div class='row jumbotron'>
            <div class='col-sm-6'>
                <form action="" method="post" accept-charset="utf-8">
                    <div class="col-sm-12 form-group">
                        <label>
                            Peso:
                        </label>
                        <input class="form-control peso" name="peso" type="text" value='{VALOR_PESO}' />	
                    </div>
                    <div class="col-sm-12 form-group">
                        <label>
                            Altura:
                        </label>
                        <input class="form-control altura" name="altura" type="text" value='{VALOR_ALTURA}' />	
                    </div>
                    <div class="col-sm-12 form-group">
                        <button class="btn btn-block btn-primary" type="submit">
                            Calcular
                        </button>
                    </div>
                </form>
            </div>
            <div class='col-sm-6'>
                <h2 class='text-center'>Resultado do Cálculo</h2>
                <div class='text-center calc-result'>
                    {RESULTADO}
                </div>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.13/jquery.mask.min.js"></script>
    <script src="/js/mask.js"></script>
</body>
</html>